.vscode/
*.lock
target/
*.o
target/debug/incremental/go_rs-yz7esn5rem0c/s-gnef75di7y-1xh5ekw-2p5nxggrmf5l1/2zxsfjbhm43xkhs3.o
*.lock
*.pdb
*.exe
*.json
target/debug/
target/debug/.fingerprint/go-rs-968a832f44b60ea5/dep-bin-go-rs
*.d
*.exe
*.pdb
*.exe
*.pdb
*.pdb
*.exe
*.pdb
*.exe
*.d
*.json
target/.rustc_info.json
target/debug/.fingerprint/go-rs-968a832f44b60ea5/dep-bin-go-rs
target/debug/deps/go_rs.d
target/debug/deps/go_rs.pdb
target/debug/go-rs.d
target/debug/go_rs.pdb
target/debug/go-rs.exe
target/debug/deps/go_rs.exe
*.exe
